<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mistral AI Chat</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
    	<div id="response-box" style="height: 600px; width: 100%;overflow-y: scroll; border: 1px solid #fff;"></div>
        <button id="start-listening">🎤 Start Listening</button>
        <button id="stop-listening">🛑 Stop</button>
        <textarea id="chat-box" placeholder="Type your message..."></textarea>
        <button id="send-message">Send</button>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>